a {
  text-decoration: none;
<<<<<<< HEAD
  color: #4e4e4d;
=======
  color: #eae8e8;
>>>>>>> cbfaf6db81f9aea149180986823bd45b7c5cd2b9
}

a:hover {
  filter: brightness(1.4);
}

.tabPanel__item {
  margin: 0 auto;
  width: 35vmax;
}

.customInputStyle fieldset {
  border-radius: 20px;
}
<<<<<<< HEAD
=======

body {
  background: #f7f7f7;
}
>>>>>>> cbfaf6db81f9aea149180986823bd45b7c5cd2b9
