a {
  text-decoration: none;
  color: #eae8e8;
}

a:hover {
  filter: brightness(1.4);
}

.tabPanel__item {
  margin: 0 auto;
  width: 35vmax;
}

/*Got lots of errors so have to use custom input*/

.customInputStyle {
  border-radius: 12px;
  border: 0.1rem solid #bbb;
  outline-width: 0;
  padding: 14px 10px;
  font-size: 16px;
  transition: all 0.4s ease;
}
.customInputStyle:focus {
  border-color: #3f51b5;
}

body {
  background: #f7f7f7;
}
